# Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [2]:
series_obj = Series(np.arange(10), index=['row1','row2','row3','row4','row5','row6','row7','row8','row9','row10'])
series_obj

row1     0
row2     1
row3     2
row4     3
row5     4
row6     5
row7     6
row8     7
row9     8
row10    9
dtype: int32

In [3]:
series_obj['row10']

9

In [5]:
series_obj[[0, 7, 9]]

row1     0
row8     7
row10    9
dtype: int32

In [10]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(49).reshape((7,7)),
                    index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6','row 7'],
                    columns=['column 1','column 2','column 3','column 4','column 5','column 6','column 7'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6  column 7
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376  0.684969
row 2  0.437611  0.556229  0.367080  0.402366  0.113041  0.447031  0.585445
row 3  0.161985  0.520719  0.326051  0.699186  0.366395  0.836375  0.481343
row 4  0.516502  0.383048  0.997541  0.514244  0.559053  0.034450  0.719930
row 5  0.421004  0.436935  0.281701  0.900274  0.669612  0.456069  0.289804
row 6  0.525819  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
row 7  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376  0.088702

In [18]:
DF_obj.loc[['row 2','row 5','row 6'], ['column 1','column 3']]

       column 1  column 3
row 2  0.437611  0.367080
row 5  0.421004  0.281701
row 6  0.525819  0.745284

### Data slicing

In [24]:
series_obj['row3': 'row7']

row3    2
row4    3
row5    4
row6    5
row7    6
dtype: int32

### Comparing with scalars

In [26]:
DF_obj<.5

       column 1  column 2  column 3  column 4  column 5  column 6  column 7
row 1     False     False      True      True      True      True     False
row 2      True     False      True      True      True      True     False
row 3      True     False      True     False      True     False      True
row 4     False      True     False     False     False      True     False
row 5      True      True      True     False     False      True      True
row 6     False     False     False     False     False      True     False
row 7      True     False     False     False      True     False      True

### Filtering with scalars

In [28]:
series_obj[series_obj>7]

row9     8
row10    9
dtype: int32

In [29]:
series_obj[series_obj>4]

row6     5
row7     6
row8     7
row9     8
row10    9
dtype: int32

### Setting values with scalars

In [31]:
series_obj['row1','row2','row6'] = 6
series_obj

row1     6
row2     6
row3     2
row4     3
row5     4
row6     6
row7     6
row8     7
row9     8
row10    9
dtype: int32

In [37]:
series_obj[series_obj>7] = 4
series_obj

row1     1
row2     1
row3     1
row4     1
row5     1
row6     1
row7     1
row8     1
row9     1
row10    1
dtype: int32